*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Data directory contains user info
data


# TODO
# Testing files/dirs that contain personal info (only temporary)
debug
examples
