*~
*.swp

# Python compiled
*.pyc

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# User directories
data
attachments

# TODO
# Testing files/dirs that contain personal info (only temporary)
debug
examples
