span.reply-header
{
    font-size: 10px;
    font-style:italic;
    margin-left: 1%;
}

/* replymode fieldset */
fieldset.replymode {
    padding: 3px;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 1%;
}
fieldset.replymode > div > label {
    cursor: pointer;
    display: block;
    float: left;
    padding: .2em .4em;
    background-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #666;
    background-image: -moz-linear-gradient(rgba(255,255,255,.2), rgba(0,0,0,.2));
    background-image: -webkit-linear-gradient(rgba(255,255,255,.2), rgba(0,0,0,.2));
    background-image: linear-gradient(rgba(255,255,255,.2), rgba(0,0,0,.2));
    box-shadow: 1px 1px 1px rgba(255,255,255,.2) inset, -1px -1px 1px rgba(0,0,0,.2) inset;
}
fieldset.replymode > div > label:first-child {
    border-left-width: 1px;
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
}
fieldset.replymode > div > label:last-child {
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
}
fieldset.replymode > div > label.selected {
    background-color: #0066CC;
    color: white;
    border-color: darkblue;
    background-image: -moz-linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));
    background-image: -webkit-linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));
    box-shadow: 1px 1px 1px rgba(0,0,0,.2) inset;
}
fieldset.replymode > div > label.warning.selected {
    background-color: red;
    border-color: darkred;
}
fieldset.replymode > div > label > input[type="radio"] {
   position: absolute;
   display:none;
}
/* end replymode fieldset */

ol.recips
{
    padding:0;
    margin:0;
    margin-left: 1%;
    max-height: 100px;
    overflow-y: scroll;
}
ol.recips > li
{
    list-style-type:none;
}


select.sender
{
    padding:0;
    margin:0;
    margin-left:1%;
}


/* Table */
tr.field
{
}
tr.field > td.prefix
{
    color:#AAA;
    vertical-align: top;
}
tr.field > td.value
{
}

/* Compose area */
textarea.composebody
{
    width: 100%;
    height:100%;
    bottom:5%;
}

div.footerarea
{
    width:100%;
    height:5%;
}
