<!doctype html>
<html lang="en">
<head>
    <title>tmail | {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/base/style.css" />
    <link rel="stylesheet" href="/static/{% block static_dir %}base{% endblock %}/style.css" />
    <script src="/static/base/script.js"></script> 
    <script src="/static/{{self.static_dir()}}/script.js"></script> 
    {% block head %}{% endblock %}
</head>
<body>
    <div class="topbar">
        <span class="logo">tmail</span>
        <form action="">
        <input type="search" name="search" class="search">
        </form>
        {% block topbar %}
        {% endblock %}
    </div>
    <div class="sidebar">
        <ol class="sidelinks">
            <li class="sidelink"><a id="sidelink-compose" href="/compose">Compose</a></li>
            <li class="divider"></li>
            <li class="sidelink"><a id="sidelink-inbox" href="/box/in">Inbox</a></li>
            <li class="sidelink"><a id="sidelink-outbox" href="/box/out">Outbox</a></li>
        </ol>
    </div>
    <div class="contentarea">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
