{% extends "base.html" %}
{% block title %}Compose{% endblock %}
{% block static_dir %}compose{% endblock %}
{% block head %}
    {% if inreplyto != None %}
        <meta id="recips_replyall" content="{{ recips_replyall|join(',') }}">
        <meta id="recips_replyto" content="{{ recips_replyto|join(',') }}">
        <meta id="recip_sender" content="{{ recip_sender|join(',') }}">
    {% endif %}
{% endblock %}
{% block topbar %}
<a href="?submit=todo-this-should-post-form" class="common-button"><div>Submit</div></a>
<a href="todo" class="common-button"><div>Preview</div></a>
<a href="todo" class="common-button"><div>Attach</div></a>
{% endblock %}
{% block content %}
{% if inreplyto != None %}
    <span class="reply-header">Replying to <a href="/thread?msgid={{inreplyto}}">{{inreplyto}}</a></span>
{% endif %}
<table>
{% if inreplyto != None %}
    <tr class="field"><td class="prefix">Reply mode:</td>
    <td class="value">
        <fieldset id="replymode-fieldset" class="replymode">
            <div>
                <label class="selected">
                  Reply-to
                  <input name="replymode" id="r_reply_to" type="radio" value="reply_to" />
                </label>
                <label>
                  Sender
                  <input name="replymode" id="r_sender" type="radio" value="sender" />
                </label>
                <label>
                  Reply-All
                  <input name="replymode" id="r_reply_all" type="radio" value="reply_all" />
                </label>
            </div>
        </fieldset>
    </td>
    </tr>
{% endif %}
<tr class="field"><td class="prefix">To:</td>
<td class="value">
    <ol id="recips" class="recips" style="display:none;"></ol>
    <input id="addrecip" type="text" name="addrecip" class="addrecip">
</td>
</tr>
<tr class="field"><td class="prefix">From:</td>
<td class="value">
    <select class="sender">
    {% for account in accounts %}
        <option {% if account.default %}selected{% endif %} value="{{account.address}}">{{account.name}} &lt;{{account.address}}&gt;</option>
    {% endfor %}
    "</select>
</td>
</tr>
</table>

<textarea class="composebody"></textarea>
<div class="footerarea"></div>
{% endblock %}"
