body
{
    font-size: 14px;
    font-weight: 400;
    font-family: Verdana, Geneva, monospace;
    line-height: 24px;
    color: #666;
    margin:0;
}
/*
    BARS
*/

div.topbar
{
    width:100%;
    height:10%;
    top:0;
    left:0;
    position:fixed;

    border-bottom:1px solid #B3B3B3;
    background:#F6F6F6;
}
span.logo
{
    font-family: Avantgarde, sans-serif;
    font-weight: bold;
    color:#3366CC;
    position:absolute;
    bottom:25%;
    padding-left:10px;
    opacity:0.4;
    font-size:30px;
}


/*
    SIDEBAR AREA
*/
div.sidebar
{
    width:10%;
    height:90%;
    top:10%;
    left:0;
    position:fixed;

    border-top:1px solid #B3B3B3;
    border-right:1px solid #B3B3B3;
    border-bottom:100px solid #B3B3B3;
    background:#F6F6F6;
}
ol.sidelinks
{
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
}
li.sidelink
{
    border-bottom:1px solid #B3B3B3;
    border-right:1px solid #B3B3B3;
    list-style-type:none;
    height:25px;
}
li.sidelink:hover
{
    background-color:#EEE;
    border:1px solid #B3B3B3;
}
li.sidelink > a
{
    font-family: Verdana, Geneva, monospace;
    font-size:15px;
    font-weight: bold;
    display:block;
    width:100%;
    height:100%;
    padding:0;
    text-align: center;
    color: #666;
    text-decoration : none;
}
li.sidelink#refresh
{
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;
}
li.sidelink#refresh > button
{

    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight: bold;
    border: none;
    width:100%;
    height:100%;
    background-color: #DDD;
    color: #555;
    border: 5px ridge #AAA;
}
li.sidelink#refresh > button:hover
{
    border: 7px ridge #AAA;
}




/*
    CONTENT AREA
*/
div.contentarea
{
    width:100%;
    height:100%;
    position:fixed;
    top:10%;
    left:10%;
}

/*
    MESSAGE CONTENT
*/
ol.messages
{
    width:90%;
    height:100%;
    overflow: scroll;
    padding: 0;
    margin: 0;
}
li.message
{
    border-bottom:1px solid #B3B3B3;
    list-style-type:none;
    height:40px;
}
li.message:hover
{
    background-color:#EEE;
    border:1px solid #B3B3B3;
}
li.message > a
{
    
    display:block;
    width:100%;
    height:100%;
    padding:0;
    padding-left:20px;
    padding-top:8px;
    
    color: #333;
    text-decoration : none;
}


div.info
{
    float: left;
    position:absolute;
}
div.info.sender
{
    font-size:10px;
    top:3px;
    left:2%;
}
div.info.sender:before    {color:#AAA;content:"F: "}
div.info.recipient:before {color:#AAA;content:"T: "}
div.info.recipient
{
    font-size:10px;
    top:15px;
    left:2%;
}
div.info.subject
{
    left:37%;
}
div.info.date
{
    right:13%;
}
